---
layout: page
permalink: /
---

<h1>Faclair nan Gèidheal</h1>

<p>Faclair de bhriathrachas LGDTC+.</p>

<div style="border-top: 1px solid #f0f0f0; padding: 8px 0px;"></div>

<p style="text-align: center;">🗂️ Clàr-amais <a href="/lorg/">🔍 Lorg</a></p>

<p style="text-align: center;"><a href="https://focloir.lgbt/" title="Amharc an leathanach as Gaeilge">&#x1f1ee;&#x1f1ea; Gaeilge</a> <a href="https://fockleyr.lgbt/">&#x1f1ee;&#x1f1f2; Gaelg</a> <a href="/en/" title="View this page in English">&#x1f3f4;&#xe0067;&#xe0062;&#xe0065;&#xe006e;&#xe0067;&#xe007f; English</a></p>

<div style="border-top: 1px solid #f0f0f0; padding: 8px 0px;"></div>

<p>Briog orra airson barrachd fhiosrachaidh.</p>

<p><a href="https://angeidhealur.scot/mu-ar-deidhinn">Cuir fios thugainn</a> ma tha thu eòlach air facal no abairt a tha a dhìth.</p>

{% for facal in site.faclair %}
   <p><a href="{{ site.baseurl }}{{ facal.url }}">{{ facal.title }}</a></p>
{% endfor %}

<div class="accordion">
   {% for facal in site.faclair %}
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        {{ facal.title }}
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse">
      <div class="accordion-body">
        <strong>This is the second item’s accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It’s also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
    </div>
    {% endfor %}
</div>